# Python dependencies for development work on the flying-circus library
--editable .
attrs==18.2.0
black==19.3b0
boto3==1.4.8
click==6.7
hypothesis==3.33.0
importlib_resources==1.0.2
inflection==0.3.1
Jinja2==2.10
pytest==4.5.0
PyYAML==3.13
semver==2.7.9
Sphinx==1.8.4
sphinx-autobuild==0.7.1
